inferno-pytorch
imgaug
numpy
torch 
torchvision
waterz
pytorch-lightning
jupyter 
tensorboard 
h5py
matplotlib
zarr

# Github installs
git+https://github.com/imagirom/embeddingutils.git
git+https://github.com/constantinpape/cremi_tools